body {
    font-family: Arial, sans-serif;
    background-color: pink;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 600px;
    width: 100%;
    background: beige;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#task-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#task-input, #task-date, #task-time {
    width: 20%; /* Adjust the width of the input fields */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#add-task-button {
    width: 10%; /* Adjust the width of the button */
    padding: 10px;
    margin-left: 2%;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-button:hover {
    background-color: #218838;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task-list li.completed {
    text-decoration: line-through;
    color: #aaa;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    color: #c82333;
}

.checklist {
    color: #28a745;
}

.checklist:hover {
    color: #218838;
}

.task-actions {
    display: flex;
    gap: 10px;
}